lib/boost/bin.v2/
lib/boost/stage/
lib/boost/*.lib
lib/boost/*.dll
lib/boost/*.exe


cmake-build-*/
build/
*.build/


*.exe
*.dll
*.so
*.dylib


CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db